{% extends "base.html" %}

{% block title %} Airbnb Project {% endblock %}

{% block content %}

{% if error %}
        <!-- Muestro el error en una notification -->

    <div class="alert alert-danger" role="alert">
      <div class="container">
        <div class="alert-icon">
          <i class="now-ui-icons ui-1_bell-53"></i>
        </div>
        <strong>Error!</strong> {{ error }}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </span>
        </button>
      </div>
    </div>

{% endif %}

<form action="{% url 'rental:filter_by' %}" method="post" class="form-inline d-flex justify-content-center">
{% csrf_token %}

  <div class="col-sm-3 col-lg-2 inline-form-margin">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="now-ui-icons location_pin"></i></span>
      </div>
      <select name="city_id" id="city" class="form-control">
        <option value="">Seleccionar ciudad ...</option>
        {% for city in cities %}
        <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="col-sm-3 col-lg-2 inline-form-margin">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="now-ui-icons users_single-02"></i></span>
      </div>
      <input id="capacity" type="number" class="form-control" placeholder="Cantidad de huespedes" name="capacity">
    </div>
  </div>
  <div class="col-sm-3 col-lg-2 inline-form-margin">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="now-ui-icons arrows-1_minimal-up"></i></span>
      </div>
      <input id="dateFrom" type="date" class="form-control" name="dateFrom">
    </div>
  </div>
  <div class="col-sm-3 col-lg-2 inline-form-margin">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="now-ui-icons arrows-1_minimal-down"></i></span>
      </div>
      <input id="dateTo" type="date" class="form-control" name="dateTo">
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-danger btn-round font-weight-bold text-uppercase"> <i class="now-ui-icons ui-1_zoom-bold font-weight-bold"></i> Buscar </button>
  </div>

</form>
<hr class="mb-4 mt-2">

<div class="container">
  <div class="card-group">

    {% for property in properties %}
    <div class="col-md-4">
      <div class="card mr-3">
        <div class="card-header">
          <a href="{% url 'rental:propertyData' property.id %}">
            {% if property.images.first is not None %}
            <img src="/static/media/{{ property.images.first }}" alt="{{ property.images.first}}">
            {% else %}
            <img src="/static/img/picture-not-available.jpg" alt="Imagen no disponible">
            {% endif %}
          </a>
        </div>
        <div class="card-body">
          <h6 class="text-muted"><span class="mr-1"><i class="now-ui-icons location_pin mr-1"> </i>{{ property.city.name }}</span> <span><i class="now-ui-icons users_single-02"></i> {{ property.capacity }}</span></h6>
          <a href=" {% url 'rental:propertyData' property.id %}"><h5><strong>{{ property.title }}</strong></h5></a>
          {% for service in property.services.all %}
            {% if forloop.counter <= 2 %}
              <span class="badge badge-default">{{ service.name }}</span>
            {% elif forloop.counter == 3 %}
              <span class="badge badge-default">{{ service.name }} ... </span>
            {% endif %}
          {% endfor %}
          <p class="mt-2 mb-1"><strong>$ {{ property.daily_price }}</strong> por noche</p>
        </div>
      </div>
    </div>

    {% empty %}

    <div class="text-muted">
      <h2> Nada por aqui... :( </h2>
    </div>

    {% endfor %}

  </div>
</div>

{% endblock %}

