{% extends "base.html" %}

{% block title %} Airbnb Project {% endblock %}

{% block content %}

<form class="form-inline d-flex justify-content-center">
  
  <div class="form-group col-sm-2 mt-1">
    <!-- <label for="city">Ciudad</label> -->
    <select name="city" id="city" class="form-control">
      <option value="">Seleccionar ciudad ...</option>
      <option value="">Ciudad 2</option>
    </select>
  </div>
  <div class="form-group col-sm-2 mt-1">
    <!-- <label for="capacity">Huespedes</label> -->
    <input id="capacity" type="number" class="form-control" placeholder="Cantidad de huespedes">
  </div>

  <div class="form-group col-sm-2 mt-1">
    <!-- <label for="price" >Precio</label> -->
    <input id="price" type="number" class="form-control" placeholder="Precio">
  </div>

  <div class="form-group col-sm-2 mt-1">
    <!-- <label for="date">Fecha</label> -->
    <input id="date" type="date" class="form-control">
  </div>

  <div>
    <button type="submit" class="btn btn-success">Filtrar</button>
  </div>

</form>
<hr class="mb-4 mt-2">

<div class="container">
  <div class="card-group">
    <div class="col-md-4">
      <div class="card mr-3">
        <div class="card-header">
          <img src="/static/img/house.jpg" alt="">
        </div>
        <div class="card-body">
          <h6><span>Casa completa</span> - <span><i class="now-ui-icons users_single-02"></i> 4</span></h6>
          <h5><strong>Casa 1</strong></h5>
          <span class="badge badge-default">Internet</span>
          <span class="badge badge-default">Aire acondicionado</span>
          <p class="mt-2 mb-1"><strong>$ 3750</strong> por noche</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mr-3">
        <div class="card-header">
          <img src="/static/img/house.jpg" alt="">
        </div>
        <div class="card-body">
          <h6><span>Casa completa</span> - <span><i class="now-ui-icons users_single-02"></i> 4</span></h6>
          <h5><strong>Casa 1</strong></h5>
          <span class="badge badge-default">Internet</span>
          <span class="badge badge-default">Aire acondicionado</span>
          <p class="mt-2 mb-1"><strong>$ 3750</strong> por noche</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mr-3">
        <div class="card-header">
          <img src="/static/img/house.jpg" alt="">
        </div>
        <div class="card-body">
          <h6><span>Casa completa</span> - <span><i class="now-ui-icons users_single-02"></i> 4</span></h6>
          <h5><strong>Casa 1</strong></h5>
          <span class="badge badge-default">Internet</span>
          <span class="badge badge-default">Aire acondicionado</span>
          <p class="mt-2 mb-1"><strong>$ 3750</strong> por noche</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mr-3">
        <div class="card-header">
          <img src="/static/img/house.jpg" alt="">
        </div>
        <div class="card-body">
          <h6><span>Casa completa</span> - <span><i class="now-ui-icons users_single-02"></i> 4</span></h6>
          <h5><strong>Casa 1</strong></h5>
          <span class="badge badge-default">Internet</span>
          <span class="badge badge-default">Aire acondicionado</span>
          <p class="mt-2 mb-1"><strong>$ 3750</strong> por noche</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mr-3">
        <div class="card-header">
          <img src="/static/img/house.jpg" alt="">
        </div>
        <div class="card-body">
          <h6><span>Casa completa </span> - <span><i class="now-ui-icons users_single-02"></i> 4</span></h6>
          <h5><strong>Casa 1</strong></h5>
          <span class="badge badge-default">Internet</span>
          <span class="badge badge-default">Aire acondicionado</span>
          <p class="mt-2 mb-1"><strong>$ 3750</strong> por noche</p>
        </div>
      </div>
    </div>
    
    
  </div>
  
</div>

<br><br>
    <p> Mostrando contenido de variable del controller: </p>
    <p> {{ var }} </p>

{% endblock %}

